.header {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-around;
    line-height: 300px;
}
h2 {
    font-size: 24px;
    text-align: left;
    font-weight: 600;
}
main {
    padding: 0px 150px 0px 150px;
    justify-content: space-around;
    
}
section {
    margin: 50px;
}
p, li {
    font-size: 20px;
    line-height: 1.5;
}
footer {
    display: flex;
    justify-content: space-around;
}
