.header {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-around;
    line-height: 300px;
}
h2 {
    font-size: 24px;
    text-align: left;
    font-weight: 600;
}